body{
  background: #efd7d5;
  font-family:'Raleway', sans-serif;
}


header{
  background:  #4e6294;
  height: 100px;
  margin: 10px;
  padding: 10px;
  margin-top: 0;
  line-height: 10px;
  text-align: center;
  align-items: center;
  color: #EFD7D5;
 
}

.titulo{
  font-size: 40px;
  color:#4e6294;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  font-display: bold;
}

.titulo_2{
  font-size: 70px;
  color:#4e6294;
  padding-top: 190px;
  font-display: bold;
  text-align: center;
}

.titulo3{
  font-size: 40px;
  color:#4e6294;
  text-align: center;
  font-display: bold;
 
}



h1{
  font-size: 75px;
}
h2{
  text-align: left;
  color: #efd7d5
}

h3{
  text-align: left;
  font-size: 20px;
}

h5{
  font-size: 90px;
}

img{
  margin: 10px;
}

article{
  padding: 15%;
}

.seccion_izquierda{
  position:absolute;
  width: 70%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
  
 
}

.seccion_derecha{
  background: #4e6294;
  position: absolute;
  width: 25%;
  height: 4px;
  right: 0%;
  margin-right: 50px;
  margin-top: 1px;
  margin-bottom: 35px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  box-shadow: 3px 5px 5px;
  border-radius: 50px;
  color: #efd7d5;
}

.horizontal{
  display: flex;
}

/* https://es.stackoverflow.com/questions/55601/texto-flotante-al-pasar-el-cursor-por-sobre-una-imagen */

/* Invisible texto */
figcaption {
  display:none;
  transition: all .5s;
}
/* Visible texto */
figure:hover > figcaption {
  display:none;
  transition: all .5s;
}


/*--------------------------- Sección 1 ---------------------------*/
#seccion1_izquierda{
  min-height: 500px;
}

#seccion1_derecha{
  position: absolute;
  top: 240px;
  min-height: 480px;
}


.imagenes{
  font-size: 115px;
  font-weight: 420px;
  font-display: bold;
  padding-left: 10px;
  padding-right: 150px;
  width: 10px;
  font-style: open ;
  color: #4e6294;
}

.imagenes2{
  font-size: 20px;
}

#matrix{
  width:  350px;
}

#matrix2{
  width:  600px;
}

#mouse{
  margin-left: 700px;
}
#animate{
  padding-left: 50px;
  margin-top: 5px;
  font-size: 35px;
  color:#c34aac ;
}


/*--------------------------- Sección 2 ---------------------------*/
#seccion_2{
  position:absolute;
  width: 80%;
  padding: 10%;
  top: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.persona_m1{
  height: 120px;
  width: 45px;
  float: left;
  padding-top: 40px;
}


.s2_niña{
  display: inline-block;
  bottom: 0px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  
}

.s2_niña img:hover {
  box-shadow: 0px 5px 3px #131200;
}

#s2_niñas{
  padding-right: 40px;
}

.s2_logo{
  width: 23px;
  display: block;
}

.s2_logo:hover {
  width: 30px;
}

#s2_logos{
  padding-right: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;}

#s2_objetos{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.s2_niña p{
  margin: 0px;
  padding: 0px;
}

#s2_datos_2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}


#s2_grafico_b{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

#s2_izquierda{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.cuadrado{
  background: #4e6294;
  width: 100%;
  border-radius: 10px;
  margin: 30px;
}

.s2_barras {
  display: block;
}
.s2_texto_b{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0px;
}

#s2_porcentaje_stem{
  padding-left: 10px;
}




/*--------------------------- Sección 3 ---------------------------*/
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 600px;
  height: 200px;
  border: 1px solid #c34aac;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 50px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 50px;
  padding: 10px;
}

/* Style the front side */
.flip-box-front {
  background-color: #c34aac;
}

/* Style the back side */
.flip-box-back {
  background-color: #4e6294;
  color: #efd7d5;
  transform: rotateY(180deg);
}
#seccion_3{
  position:absolute;
  width: 80%;
  padding: 10%;
  top: 1700px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seccion_derecha1{
  /* background: #7698b3; */
  background:#4e6294;
  position: absolute;
  width: 28%;
  right: 0%;
  margin-right: 490px;
  margin-top: 170px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;
  box-shadow: 3px 5px 5px #131200;
  border-radius: 50px;
  color: #efd7d5;
}
.seccion_derecha3{
  /* background: #7698b3; */
  position: absolute;
  width: 35%;
  right: 0%;
  margin-right: 475px;
  top: 2810px;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;
  color: #efd7d5;
  font-size: 16px;
}
#palabraa{
  font-size: 16px;
  color:#efd7d5;
}
#palabrax{
  font-size: 16px;
  color: #efd7d5;
}
.negrita{
  color: black;
  font-size: 22px;
}
.negrita2{
  color:#c34aac;
  font-size: 17px;
}
.titulo3{
  font-size: 40px;
  color:#c34aac;
  text-align: center;
  font-display: bold;
  padding-top: 15px;
}

.color-select{
  width: 1400px;
  height: 5px;
  background-color:#c34aac  ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 610px;
  margin-left: 20px;
}

.color-select div{
  width: 50px;
  height: 50px;
  background: #4e6294;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}


.color-select p{
  margin-top: 10px;
  margin-left: 10px;
  color: #efd7d5;
}
.images {
  float: none;
  width: 60%;
  padding: 10px;
  margin-left: 300px;
}


.images img {
  opacity: 0.9;
  cursor: pointer;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
#seccion3_izquierda{
  position: absolute;
  top: 20px;
}

.texto3{
  float: right;
}

.textox{
  margin-top: 2280px;
  margin-left: 487.2px;
  color: #131200;
  position: absolute;
  height: 70px;
  width: 510px;
  background-color: #c34aac ;
  border-radius: 10px;
}
.palabranegrita{
  color:  #efd7d5;
  font-size: 23px;
  margin-left: 90px;
}
#s_p_stem{
  margin-left: 50px;
  color:  #efd7d5;
}
#palabrita{
  font-size: 16px;
  color: #efd7d5;
}

#fraseseccion3{
  margin-top: 2980px;
  text-align: center;
  padding: left;
  font-size: 40px;
  color:#4e6294;
}
/*--------------------------- Sección 4 ---------------------------*/
.columna {
  float: left;
  width: 33.33%;
}
.seccion_derecha2{
  background: #c34aac;
  position: absolute;
  width: 25%;
  right: 0%;
  margin-right: 50px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
  box-shadow: 3px 5px 5px #131200;
  border-radius: 50px;
}

/* Clear floats after the columns: https://www.w3schools.com/howto/howto_css_three_columns.asp*/

#seccion4_izquierda{
  position: absolute;
  top: 3300px;
}

#seccion4_derecha{
  position: absolute;
  top: 3700px;
  min-height: 550px;
}

#seccion4_izquierda img{
  width: 300px;
}

.s4_opcion{
  background: #4e6294;
  padding: 10px;
  margin: 10px;
  color: #F1DAD2;
  height: 20px;
  margin-top: 120px;
  min-width: 80px;
  text-align: center;
  border-radius: 10px;
}

.oculto{
  display: none;
}

/*seccion 4.1*/
.container1 {
  position: relative;
  width: 60%;
  height: auto;
  
}
.column{
  display: flex;
  margin-top: 120px;
}


/* Make the image to responsive */
.image {
  display: block;
  width: 65%;
  height: auto;
  
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4e6294;
  overflow: hidden;
  width: 100%;
  height: 150%;
 
  transform: scale(0);
  transition: .3s ease;
  box-shadow: 3px 5px 5px;
  border-radius: 50px;

}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container1:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: #EFD7D5;
  font-size: 15px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: left;
}
/*--------------------------- Sección 5 ---------------------------*/
#seccion_5{
  position:absolute;
  width: 80%;
  padding: 10%;
  top: 4250px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.referencias{
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 80px;
}

.logo{
  margin-right: 10px;
  float: left;
  width: 100px;
}

#pie{
  position:absolute;
  padding: 10px;
  margin: 10px;
  top: 4700px;
  background:#4e6294 ;
  height: 100px;
  width: 97%;
 
}

/*--------------------------- barra--------------------------*/
#navbar {
  background-color: black; /* Black background color */
  background: #4e6294;
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 100;
  height: 50px;
  align-items: center;
}
#navbar a {
  float: left;
  display: block;
  color: #EFD7D5;
  text-align: center;
  text-decoration: none;
}



#navbar li:hover {
  background-color: #c34aac;
  color: black;
}

.textoli{
  float: left;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
/*--------------------------- barra--------------------------*/